{
	"plugins": [],
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 120,
	"semi": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"quoteProps": "consistent",
	"endOfLine": "auto"
}
